<mat-dialog-content>
  <mat-card class="form-card">
    <mat-card-title>Add a drug</mat-card-title>
    <form #myForm="ngForm" [formGroup]="drugForm" (ngSubmit)="validate(myForm);" class="form">
      <mat-form-field>
        <mat-label>Name</mat-label>

        <input matInput type="text" formControlName="name" name="name"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Code</mat-label>

        <input matInput type="text" formControlName="code" name="code"/>
      </mat-form-field>

      <button class="form-card-btn" mat-raised-button type="submit">Add</button>
    </form>
  </mat-card>
</mat-dialog-content>
