.sidenav {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  h3 {
    margin-top: 20px;
  }
  &-link {
    width: 100%;
    transition: all ease-in-out .5s;
    font-size: 16px;

    &:hover {
      background-color: rgba(150, 150, 150, .2);
      color: initial;
      box-shadow: none;
    }
  }
}
