.patient-detail {
  max-width: 50%;
  margin: auto;
  &-header {
    margin: auto !important;
  }
  &-btn {
    &-back {
      margin-top: 30px !important;
    }
  }

  &-headers-align {
    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }
  }
}
