<div *ngIf="patient">
  <mat-card class="patient-detail">
    <mat-card-header class="patient-detail-header">
      <mat-card-title>
        <h1>{{(patient.firstName + " " + patient.lastName) | uppercase}}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list aria-label="Patient information">
          <mat-chip>{{patient.age + ' ans'}}</mat-chip>
          <mat-chip>{{patient.sex === 1 ? "Male" : "Female"}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion class="patient-detail-headers-align" multi>
        <mat-expansion-panel disabled="{{patient.drugs.length === 0}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Drugs
            </mat-panel-title>
            <mat-panel-description>
              {{patient.drugs.length === 0 ? 'There is no drug for this patient' : 'See the list of drugs of this patient'}}
              <mat-icon>medication</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p *ngFor="let drug of patient.drugs">
            {{drug.name}}
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="{{patient.treatments.length === 0}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Treatments
            </mat-panel-title>
            <mat-panel-description>
              {{patient.treatments.length === 0 ? 'There is no treatment for this patient' : 'See the list of treatments of this patient'}}
              <mat-icon>assignment</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let treatment of patient.treatments">
              <mat-accordion class="patient-detail-headers-align-not" hideToggle>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      from {{treatment.start.toDateString()}} to {{treatment.end.toDateString()}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{treatment.doctor.firstName}} {{treatment.doctor.lastName}}
                      <button mat-mini-fab color="warn" class="patient-thumb-btn" (click)="delete(treatment)">
                        <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{treatment.text}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <app-patient-form [currentPatient]="patient" (updatePatient)="updatePatient($event)" [create]="false"></app-patient-form>
      <app-treatment-form (addTreatment)="addTreatment($event)" [patientId]="patient._id"></app-treatment-form>
      <button class="patient-detail-btn-back" mat-raised-button color="accent" (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>
</div>
