<mat-card *ngIf="patient" class="patient-thumb">
  <mat-card-header class="patient-thumb-header">

    <mat-card-title>
      <a routerLink="/patients/{{patient._id}}" class="patient-thumb-link">
        {{(patient.firstName + " " + patient.lastName) | uppercase}}
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list aria-label="Patient information">
        <mat-chip>{{patient.age + ' ans'}}</mat-chip>
        <mat-chip>{{patient.sex === 1 ? "Male" : "Female"}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{patient.drugs.length > 0 ? patient.drugs.length : 'No'}} drugs</p>
    <p>{{patient.treatments.length > 0 ? patient.treatments.length : 'No'}} treatments</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-mini-fab color="primary" routerLink="/patients/{{patient._id}}" class="patient-thumb-btn">
      <mat-icon aria-hidden="false" aria-label="See more">east</mat-icon>
    </a>
    <button mat-mini-fab color="warn" class="patient-thumb-btn" (click)="delete(patient)">
      <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
