<div *ngIf="patients" class="patient-list">
  <h2>Patients</h2>
  <mat-grid-list cols="4" class="patient-list-grid">
    <mat-grid-tile *ngFor="let patient of patients" class="col-1-4">
      <app-patient-thumb [patient]="patient"></app-patient-thumb>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card class="form-card">
    <mat-card-title>Create a patient</mat-card-title>
    <form [formGroup]="newPatient" (ngSubmit)="create()" class="form">
      <mat-form-field>
        <mat-label>First Name</mat-label>

        <input matInput type="text" formControlName="firstName" name="firstName"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>

        <input matInput type="text" formControlName="lastName" name="lastName"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>

        <input matInput type="number" formControlName="age" name="age"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sex</mat-label>
        <mat-select>
          <mat-option [value]=1>Male</mat-option>
          <mat-option [value]=2>Female</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit">Create</button>
    </form>
  </mat-card>
</div>
