.doctor-thumb {
  padding-bottom: 20px;
  &-btn {
    margin: 0 8px;
  }
  &-patient {
    margin-bottom: 10px;
  }
  &-link {
    transition: all ease-in-out .3s;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    margin-right: 20px;

    &:hover {
      color: rgba(0,0,0,.65);
    }
  }
  .mat-list-item {
    height: auto;
  }

  .mat-accordion {
    width: 100%;
  }
}
